.box{
    height: 70px;
    width: 100px;
    border: 5px solid red;
    /* margin: 10px; */
    /* display: inline-block; */
}
.container{
    height: 700px;
    border: 10px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}