@import url("index.css");
.container{
    /* height: 400px;
    width: 400px; */
    border: 2px solid green;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT378QqWNo2refz41_kNiTyw0HT2LMN0Rg62Q&s);
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: center;
    background-attachment: fixed;

}
/* img{
    height: 400px;
    width: 400px;
} */

img{
    width: 500px;
    height: 700px;
}
.main2{
    width: 500px;
    height: 700px;
    background-color: rgba(206, 206, 206, 0.685);
    position: absolute;
    top: 8px;
}