.container{
    border: 10px solid red;
    display: flex;
    height: 700px;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-wrap: wrap; */
    gap: 40px 10px ;
}
.box{
    /* height: 100px; */
    flex-basis: 100px;
    border: 2px solid green;
    /* flex-grow: 1; */
}
.box1{
    order: 1;
    /* flex-grow: 2; */
    flex-shrink: 4;
    align-self: flex-end;
}
.box5{
    order: 2;
    align-self: flex-start;

}