* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
}
.logo {
  width: 34px;
  background-color: white;
  border-radius: 8px 8px 0 8px;
  margin: 5px 5px 0px 5px;
}
.navbar {
  background-color: #ebf1ff;
  display: flex;
  border-bottom: 1px solid;
  justify-content: space-between;
  height: 37px;
  width: 100%;
}
nav {
  justify-content: flex-start;
}
.nav-img1 {
  width: 28.24px;
}
.nav-img2 {
  width: 24.24px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #002f34;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 7px;
  /* height: 7px; */
  /* padding: 0px 12px; */
}
ul {
  display: flex;
  width: 230px;
  /* border: 1px solid green; */
  justify-content: space-around;
  align-items: center;
}
.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 250px;
  margin-right: 10px;
  gap: 7px;
}
.login a {
  color: #002f34;
  font-size: 10px;
  text-decoration: underline;
  /* justify-content: flex-end; */
}
.sell {
  /* border: none; */
  border-top: 3px solid aqua;
  border-right: 3px solid blue;
  border-bottom: 3px solid yellow;
  border-left: 3px solid blue;

  /* background-image: url(https://www.olx.com.pk/assets/iconSellBorder_noinline.d9eebe038fbfae9f90fd61d971037e02.svg); */
  border-radius: 30px;
  width: 50px;
  font-size: 12px;
  height: 25px;
  background-repeat: no-repeat;
  /* border: 3px solid transparent; */
  background-color: white;
}
.inputfields{
    display: flex;
    justify-content: center;
    /* width: 450px; */
}
.search input{
    width: 300px;
}
.search-btn{
    background-color: #002f34;
    color: white;
}